@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

body {
  margin: 0;
  padding: 0;
  /* background-color: #303030; */
  background-color: #212121;
  display: flex;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  display: none;
}