// scss variable(s)
@mixin home--button {
  margin-top: 15em;
  border-color: #08FDD8;
  padding: 2em 5em;
  border-radius: 10px;
  color: #08FDD8;
  background-color: #1D1D1D;
  font-size: 13px;

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

  /* Portrait and Landscape */
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  }

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

  /* Portrait and Landscape */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    margin-top: 4em;
    font-size: 13px;

  }

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

  /* Portrait and Landscape */
  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    margin-top: 10em;
    font-size: 13px;
  }

  /* ----------- iPhone X ----------- */

  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
      margin-top: 14em;
      font-size: 13px;

  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 40px !important;
  }
}

.home {
  // // margin: 30em 20em;
  // margin-left: 14em;
  // margin-top: 16em;
  // padding-top: 18em;
  width: 100vw;
  height: 100%;
  
  // border-bottom: 3px solid #01bf71
  
  
}

.main {
  padding-top: 12em;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}


h1 {
  color: white;
  font-size: 60px;

}


#project--button {
  @include home--button();

  &:hover {
    color: black;
    background-color: #08FDD8;
  }
}

// #contact--button {
//   @include home--button();
//   margin-left: 6em;
// }