// scss variable(s)
@mixin home--button {
  border-color: #08FDD8;
  padding: 2em 5em;
  border-radius: 10px;
  color: #08FDD8;
  background-color: #1D1D1D;
}


h1 {
  color: white;
  font-size: 80px;
}

.home {
  // margin: 30em 20em;
  margin-left: 15em;
  // margin-top: 18em;
  padding-top: 18em;
  
}

#project--button {
  @include home--button();

  &:hover {
    color: black;
    background-color: #08FDD8;
  }
}

#contact--button {
  @include home--button();
  margin-left: 6em;
}