.sidebar {
  height: 100vh;
  display: flex;
  background-color: #424242;
  flex-direction: column;
  justify-content: space-around;
  width: 6em;
  position: fixed;
  margin-top: 0;
}

#Logo {

 max-width: 6em;
margin-bottom: 22em;
}

.Nav--Container {
  
  
  position: absolute;
  // margin: auto;
  list-style-type: none;
  // color: #f1f1f1;
  margin-top: 1em;
  margin-bottom: 1em; 
  margin-bottom: 16em;
  
}

.Nav--Item {
  
  list-style-type: none;
  margin-bottom: 1em;
  margin-right: 1em;
  padding-top: 3em;
  padding-bottom: 1em;
  background-color: #424242;
  color: #57d9a3;

  &:visited {
    text-decoration: none;
    color: white;
  }
  
  
}

.Icon {
  color: #08FDD8;
  font-size: 25px;
}