.sidebar {
  height: 100vh;
  display: flex;
  background-color: #424242;
  flex-direction: column;
  justify-content: center;
  width: 6em;
  position: fixed;
}

.Nav--Container {
  
  position: absolute;
  margin: auto;
  list-style-type: none;
  color: #f1f1f1;
  margin-top: 1em;
  margin-bottom: 1em; 
  
}

.Nav--Item {
  margin-bottom: 1em;
  margin-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #08FDD8;
  
}